@charset "utf-8";

/*con_middle*/

.container .con_middle .con1{
    background-color:#fff;
    width:850px;
    height: 500px;
    margin:20px auto;
    box-sizing: border-box;
    padding:10px;
    border:1px solid #000;
    box-shadow: 2px 3px 5px 0px;
}

.container .con_middle .con_bottom{
    background-color:#fff;
    width:850px;
    height:150px;
    margin:30px auto;
    padding:10px;
    display: flex;
}
.container .con_middle .con_bottom .con2{
    width:400px;
    height:130px;
    padding:10px;
    border:1px solid #000;
    box-shadow: 2px 3px 5px 0px;
    margin-right:50px;
}
.container .con_middle .con_bottom .con3{
    width:400px;
    height:130px;
    padding:10px;
    border:1px solid #000;
    box-shadow: 2px 3px 5px 0px;
}
